.pageWrapper{
    background-color: #121212;
    height: 100vh;
    overflow: hidden;
}
.completed-task{
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
    font-family: 'Montserrat-Bold';
}
.del-task{
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
    color: white;
    border-radius: 5px;
}
.del-task:hover{
    background-color: white;
    color: black;
}
.active-task{
    background-color:#828282 !important;
}
/* ------------------------- Left Navigation Bar starts here 
---------------------------- */
.main-nav{
    background-color: #1D1D1D;
    height: 100vh;
}
.main-nav .username-cont{
    background-color: #FFC68A;
    color: black;
}
.main-nav #userName{
    font-size: 18px;
    color: white;
    font-family: 'Montserrat-Regular';
    text-align: left;
    color: #000;
    overflow-x: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    /* text-transform: uppercase; */
}
.main-nav #clock{
    font-family: 'Montserrat-Regular';
    color: #FFC68A;
    font-size: 12px;
}
.fa-pencil{
    cursor: pointer;
    transition: 0.5s all;
    font-size: 15px;
}
.fa-pencil:hover{
    color: #1d1d1d  ;
}
.main-nav ul{
    width: 100%;
}
.main-nav li{
    cursor: pointer;
    width: 100%;
    color: #E3E3E3;
    background-color: #2D2D2D;
    transition: 0.65s all;
    font-family: 'Montserrat-Regular';
}
.main-nav li:hover{
    background-color: #FFC68A;
    color: #262833;
}
.main-nav .single-nav-link{
    position: relative;
}
.main-nav .single-nav-link .high-prior{
    position: absolute;
    right: 5px;
    width: 8px;
    top: 10%;
    background-color: #FFFF25;
    background-color: #F62323;
    height: 80%;
    border-radius: 2px;
}
.main-nav .single-nav-link .med-prior{
    position: absolute;
    right: 5px;
    width: 8px;
    top: 10%;
    background-color: #FFFF25;
    height: 80%;
    border-radius: 2px;
}
.main-nav .single-nav-link .low-prior{
    position: absolute;
    right: 5px;
    width: 8px;
    top: 10%;
    background-color: #9BBB59;
    height: 80%;
    border-radius: 2px;
}
.main-nav .active-nav{
    background-color: #FFC68A;
    color: #262833;
}
/* ------------------------- Left Navigation Bar ends here 
---------------------------- */

#main-display{
    transition: 0.5s all;
}

/* ----------------------------- tasks tab 
------------------------------- */
#main-display .add-task{
    border-radius: 2px;
    margin-left: -29px;
    color: #A4ADE9;
    background-color: black;
    font-family: 'Montserrat-Regular';
}
#main-display .add-task h3{
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Montserrat-Bold';
}
#main-display .add-task #task-title{
    width: 85%;
}
#main-display .add-task input{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat-Light';
    color: #FFC68A;
    border-bottom: 1px solid #1d1d1d;
}
#main-display .add-task input:focus{
    outline: none;
}
#main-display .add-task .submit-button{
    border: none;
    background-color: #FFC68A;
    border: 1px solid #FFC68A;
    color: #000;
    width: 15%;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat-Regular';
    font-weight: 300;
    transition: all 0.5s;
}
#main-display .add-task .submit-button:hover{
    background-color: #000;
    color: #FFC68A;
}
#main-display #tasks-list{
    overflow-y: scroll;
    max-height: 80vh;
    margin-left: -15px;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
#main-display #tasks-list .single-container{
    position: relative;
}
#main-display #tasks-list .single-task{
    background-color: #424141;
    width: 100%;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    position: relative;
}

/* priority tags on single task starts here */
#main-display #tasks-list .single-container .high-prior{
    position: absolute;
    right: 5px;
    width: 10px;
    top: 20%;
    background-color: #F62323;
    height: 60%;
    border-radius: 2px;
}
#main-display #tasks-list .single-container .med-prior{
    position: absolute;
    right: 5px;
    width: 10px;
    top: 20%;
    background-color: #FFFF25;
    height: 60%;
    border-radius: 2px;
}
#main-display #tasks-list .single-container .low-prior{
    position: absolute;
    right: 5px;
    width: 10px;
    top: 20%;
    background-color: #9BBB59;
    height: 60%;
    border-radius: 2px;
}
/* priority tags on single task ends here */

#main-display #tasks-list .single-task span{
    background-color: green;
    opacity: 0.35;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s all;
}
#main-display #tasks-list .single-task:hover{
    background-color: #828282;
}
#main-display #tasks-list .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #tasks-list .completed:hover{
    background-color: white;
    color: black;
}
#main-display #tasks-list .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #tasks-list .single-task h3{
    font-family: 'Montserrat-Regular';
    color: #ececec;
    font-size: 18px;
    width: 97%;
    overflow-x: auto;
    scrollbar-width: none;
}
#main-display .task-container .no-data{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.92);
    /* color: #FFC68A; */
}

/* Heading for all tabs start here */
#main-display .heading{
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Montserrat-Bold';
    margin-left: -15px;
}
/* Heading for all tabs end here */

/*  High Priority tab starts here */
#main-display .heading .high-p-heading{
    text-decoration: underline;
    text-decoration-color: #F62323;
    text-decoration-style: dotted;
}
#main-display #High-p-tasks{
    overflow-y: scroll;
    max-height: 90vh;
    margin-left: -15px;
    scrollbar-width: none;
}
#main-display #High-p-tasks .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #High-p-tasks .completed:hover{
    background-color: white;
    color: black;
}
#main-display #High-p-tasks .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #High-p-tasks .single-H-task{
    background-color: #424141;
    /* background-color: #ee4540; */
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
}
#main-display #High-p-tasks .single-H-task span{
    background-color: green;
    opacity: 0.35;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s all;
}
#main-display #High-p-tasks .single-H-task:hover{
    background-color: #828282;
    /* background-color: #ff5c57; */
}
#main-display #High-p-tasks .single-H-task h3{
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    color: #fff;
    width: 97%;
    overflow-x: auto;
    scrollbar-width: none;
}
/*  High Priority tab ends here */

/* ---------------------------- Medium Priority tab
------------------------------- */
#main-display .heading .med-p-heading{
    text-decoration: underline;
    text-decoration-color: #FFFF25;
    text-decoration-style: dotted;
}
#main-display #Medium-p-tasks{
    overflow-y: scroll;
    max-height: 90vh;
    margin-left: -15px;
    scrollbar-width: none;
}
#main-display #Medium-p-tasks .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #Medium-p-tasks .completed:hover{
    background-color: white;
    color: black;
}
#main-display #Medium-p-tasks .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #Medium-p-tasks .single-M-task{
    /* background-color: #c72c41; */
    background-color: #424141;
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
}
#main-display #Medium-p-tasks .single-M-task span{
    background-color: green;
    opacity: 0.35;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s all;
}
#main-display #Medium-p-tasks .single-M-task:hover{
    /* background-color: #EE4540; */
    background-color: #828282;
}
#main-display #Medium-p-tasks .single-M-task h3{
    font-family: 'Montserrat-Regular';
    color: #fff;
    font-size: 18px;
    width: 97%;
    overflow-x: auto;
    scrollbar-width: none;
}

/* ---------------------------- Low Priority tab
------------------------------- */
#main-display .heading .low-p-heading{
    text-decoration: underline;
    text-decoration-color: #9BBB59;
    text-decoration-style: dotted;
}
#main-display #Low-p-tasks{
    overflow-y: scroll;
    max-height: 90vh;
    margin-left: -15px;
    scrollbar-width: none;
}
#main-display #Low-p-tasks .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #Low-p-tasks .completed:hover{
    background-color: white;
    color: black;
}
#main-display #Low-p-tasks .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #Low-p-tasks .single-L-task{
    /* background-color: #801336; */
    background-color: #424141;
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
}
#main-display #Low-p-tasks .single-L-task span{
    background-color: green;
    opacity: 0.35;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s all;
}
#main-display #Low-p-tasks .single-L-task:hover{
    /* background-color: #c72c41; */
    background-color: #828282;
}
#main-display #Low-p-tasks .single-L-task h3{
    font-family: 'Montserrat-Regular';
    color: #fff;
    font-size: 18px;
}

/* ---------------------------- Completed tasks tab
------------------------------- */
#main-display #comp-tasks h4{
    color: #1e305e;
    margin-left: -15px;
}
#main-display #comp-tasks .single-comp-task{
    background-color: #29c7ac;
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    scrollbar-width: none;
    white-space: nowrap;
    overflow-x: auto;
}
#main-display #comp-tasks .single-comp-task h3{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: white;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    color: #202040;
}

/* ---------------------------- More Details tab
------------------------------- */
#details-tab{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    /* left: 100%; */
    background-color: #000;
    height: 100vh;
    transition: 0.5s all;
    /* box-shadow: 3px 3px 10px 5px #fff; */
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 2px solid #1D1D1D;
}
#details-tab h5{
    color: #fff;
    /* text-decoration: underline; */
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}
#details-tab .close-details{
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.5s all;
    color: #FFC68A;
}
#details-tab .close-details:hover{
    color: #fff;
}
#details-tab .deadline-box{
    background-color: #1D1D1D;
    border-radius: 5px;
    /* border-bottom: 2px solid #FFC68A; */
    /* overflow-x: hidden; */
}
#details-tab #deadline-date{
    border: 0;
    background-color: #000 ;
    color: white;
    border-bottom: 1px solid #FFC68A;
    width: 48%;
    border-radius: 5px;
    font-family: 'Montserrat-Light';
}
/* #details-tab #deadline-date::placeholder{
    font-family: 'Montserrat-Light';
} */

#details-tab #deadline-time{
    border: 0;
    background-color: #000 ;
    color: white;
    border-bottom: 1px solid #FFC68A;
    width: 48%;
    border-radius: 5px;
    font-family: 'Montserrat-Light';
}
/* #details-tab #deadline-time::placeholder{
    font-family: 'Montserrat-Light';
} */
#details-tab .subTask-box{
    background-color: #1D1D1D;
    border-radius: 5px;
}
#details-tab .subTask-box #sub-task-title{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat-Light';
    color: #FFC68A;
    border-bottom: 1px solid #fff;
    padding: 0;
    width: 70%;
}
#details-tab .subTask-box .submit-sub{
    width: 25%;
    background-color: #FFC68A;
    border: 0;
    color: #000;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
    font-family: 'Montserrat-Regular';
    border: 1px solid #FFC68A;
    font-size: 14px;
}
#details-tab .subTask-box .submit-sub:hover{
    background-color: #000;
    color: #FFC68A;
}
#details-tab #sub-tasks{
    background-color: #000;
    border: 0;
    padding: 5px;
    overflow-y: auto;
    scrollbar-width: none;
    border-radius: 5px;
    height: 125px;
}
#details-tab #sub-tasks .single-sub-task .single-sub-cont{
    overflow: auto;
    scrollbar-width: none;
    white-space: nowrap;
    border-radius: 5px;
    width: 100%;
    background-color: white;
}
#details-tab #sub-tasks .single-sub-task .at-cont{
    background-color: #fff;
    color: #000;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.5s all;
}
#details-tab #sub-tasks .single-sub-task .at-cont:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

/* if sub task is completed check mark starts here */
#details-tab #sub-tasks .single-sub-task .at-cont-comp{
    background-color: #000;
    color: #fff;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    transition: 0.5s all;
}
#details-tab #sub-tasks .single-sub-task .at-cont-comp:hover{
    background-color: #fff;
    color: #000;
}
/* if sub task is completed check mark ends here */

#details-tab #sub-tasks .single-sub-task p{
    color: black;
    font-family: 'Montserrat-Light';
    text-transform: capitalize;
}
#details-tab #sub-tasks .single-sub-task .completed-sub{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
}
#details-tab .priority-box{
    background-color: #1D1D1D;
    border-radius: 5px;
}
#details-tab .priority-box #prior{
    width: 100%;
    background-color: #000 ;
    border: 0;
    border-bottom: 2px solid #FFC68A;
    color: #FFC68A;
    border-radius: 5px;
}
#details-tab .comments-box{
    background-color: #1D1D1D;
    border-radius: 5px;
}
#details-tab .comments-box #comments-cont{
    height: 125px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #000;
    border-radius: 5px;
}
#details-tab .comments-box #comment-title{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat-Light';
    color: #FFC68A;
    border-bottom: 1px solid #fff;
    padding: 0;
    width: 70%;
}
#details-tab .comments-box .submit-comment{
    width: 25%;
    background-color: #FFC68A;
    border: 0;
    color: #000;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
    font-family: 'Montserrat-Regular';
    border: 1px solid #FFC68A;
    font-size: 14px;
}
#details-tab .comments-box .submit-comment:hover{
    background-color: #000;
    color: #FFC68A;
}

/* #details-tab .save-det-box{
} */

#details-tab .save-det-box #save-details{
    cursor: pointer;
    background-color: #FFC68A;
    color: #000;
    transition: 0.5s all;
    font-family: 'Montserrat-Regular';
    border-radius: 5px;
    border: 1px solid #FFC68A ;
}
#details-tab .save-det-box #save-details:hover{
    background-color: black;
    color: #FFC68A;
}
#details-tab .save-det-box #save-details p{
    width: 100%;
}


