.pageWrapper{
    background-color: #121212;
    height: 100vh;
    overflow: hidden;
}
.completed-task{
    text-decoration: line-through;
    text-decoration-thickness: 4px;
    text-decoration-color: black;
    font-family: 'Montserrat-Bold';
}
.del-task{
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
    color: white;
    border-radius: 5px;
}
.del-task:hover{
    background-color: white;
    color: black;
}
/* ------------------------- Left Navigation Bar starts here 
---------------------------- */
.main-nav{
    background-color: #1D1D1D;
    height: 100vh;
}
.main-nav .username-cont{
    background-color: #FFC68A;
    color: black;
}
.main-nav #userName{
    font-size: 18px;
    color: white;
    font-family: 'Montserrat-Regular';
    text-align: left;
    color: #000;
    overflow-x: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    /* text-transform: uppercase; */
}
.main-nav #clock{
    font-family: 'Montserrat-Regular';
    color: #FFC68A;
    font-size: 12px;
}
.fa-pencil{
    cursor: pointer;
    transition: 0.5s all;
    font-size: 15px;
}
.fa-pencil:hover{
    color: #1d1d1d  ;
}
.main-nav ul{
    width: 100%;
}
.main-nav li{
    cursor: pointer;
    width: 100%;
    color: #E3E3E3;
    background-color: #2D2D2D;
    transition: 0.65s all;
    font-family: 'Montserrat-Regular';
}
.main-nav li:hover{
    background-color: #FFC68A;
    color: #262833;
}
.main-nav .active-nav{
    background-color: #FFC68A;
    color: #262833;
}
/* ------------------------- Left Navigation Bar ends here 
---------------------------- */

#main-display{
    transition: 0.5s all;
}


/* ----------------------------- tasks tab 
------------------------------- */
#main-display .add-task{
    border-radius: 2px;
    margin-left: -29px;
    color: #A4ADE9;
    background-color: black;
    font-family: 'Montserrat-Regular';
}
#main-display .add-task h3{
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Montserrat-Bold';
}
#main-display .add-task #task-title{
    width: 85%;
}
#main-display .add-task input{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat-Light';
    color: #FFC68A;
    border-bottom: 1px solid #1d1d1d;
}
#main-display .add-task input:focus{
    outline: none;
}
#main-display .add-task .submit-button{
    border: none;
    background-color: #FFC68A;
    border: 1px solid #FFC68A;
    color: #000;
    width: 15%;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat-Regular';
    font-weight: 300;
    transition: all 0.5s;
}
#main-display .add-task .submit-button:hover{
    background-color: #000;
    color: #FFC68A;
}
#main-display #tasks-list{
    overflow-y: scroll;
    max-height: 80vh;
    margin-left: -15px;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
#main-display #tasks-list .single-task{
    background-color: #162447;
    width: 100%;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #tasks-list .single-task:hover{
    background-color: #1e305e;
}
#main-display #tasks-list .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 5px;
}
#main-display #tasks-list .completed:hover{
    background-color: white;
    color: black;
}
#main-display #tasks-list .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
}
#main-display #tasks-list .single-task h3{
    font-family: 'Montserrat-Regular';
    color: #ececec;
    font-size: 18px;
}
#main-display .task-container .no-data{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.92);
    /* color: #FFC68A; */
}

/* ---------------------------- High Priority tab
------------------------------- */
#main-display .heading{
    color: rgba(255, 255, 255, 0.92);
    font-family: 'Montserrat-Bold';
}
#main-display #High-p-tasks{
    overflow-y: scroll;
    max-height: 90vh;
    margin-left: -15px;
    scrollbar-width: none;
}
#main-display #High-p-tasks .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
}
#main-display #High-p-tasks .completed:hover{
    background-color: white;
    color: black;
}
#main-display #High-p-tasks .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
}
#main-display #High-p-tasks .single-H-task{
    background-color: #ee4540;
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
}
#main-display #High-p-tasks .single-H-task:hover{
    background-color: #ff5c57;
}
#main-display #High-p-tasks .single-H-task h3{
    font-family: 'Montserrat-Bold';
    color: black;
}

/* ---------------------------- Medium Priority tab
------------------------------- */
#main-display #Medium-p-tasks{
    overflow-y: scroll;
    max-height: 90vh;
    margin-left: -15px;
    scrollbar-width: none;
}
#main-display #Medium-p-tasks .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
}
#main-display #Medium-p-tasks .completed:hover{
    background-color: white;
    color: black;
}
#main-display #Medium-p-tasks .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
}
#main-display #Medium-p-tasks .single-M-task{
    background-color: #c72c41;
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
}
#main-display #Medium-p-tasks .single-M-task:hover{
    background-color: #EE4540;
}
#main-display #Medium-p-tasks .single-M-task h3{
    font-family: 'Montserrat-Bold';
    color: black;
}

/* ---------------------------- Low Priority tab
------------------------------- */
#main-display #Low-p-tasks{
    overflow-y: scroll;
    max-height: 90vh;
    margin-left: -15px;
    scrollbar-width: none;
}
#main-display #Low-p-tasks .completed{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
}
#main-display #Low-p-tasks .completed:hover{
    background-color: white;
    color: black;
}
#main-display #Low-p-tasks .yes-completed{
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all;
}
#main-display #Low-p-tasks .single-L-task{
    background-color: #801336;
    transition: 0.5s all;
    cursor: pointer;
    width: 100%;
}
#main-display #Low-p-tasks .single-L-task:hover{
    background-color: #c72c41;
}
#main-display #Low-p-tasks .single-L-task h3{
    font-family: 'Montserrat-Bold';
    color: black;
}

/* ---------------------------- Completed tasks tab
------------------------------- */
#main-display #comp-tasks h4{
    color: #1e305e;
}
#main-display #comp-tasks .single-comp-task{
    background-color: #29c7ac;
    cursor: pointer;
}
#main-display #comp-tasks .single-comp-task h3{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: white;
    font-family: 'Montserrat-Bold';
    color: #202040;
}

/* ---------------------------- More Details tab
------------------------------- */
#details-tab{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    /* left: 100%; */
    background-color: #000;
    height: 100vh;
    transition: 0.5s all;
    /* box-shadow: 3px 3px 10px 5px #fff; */
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 2px solid #1D1D1D;
}
#details-tab h5{
    color: #fff;
    /* text-decoration: underline; */
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}

#details-tab #save-details{
    cursor: pointer;
    background-color: black;
    color: #FFC68A;
    transition: 0.5s all;
    border: 2px solid white;
    width: 120px;
    font-family: 'Montserrat-Regular';
    box-shadow: 0px 0px 14px 2px #000;
    border-radius: 6px;
}
#details-tab #save-details:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

#details-tab .close-details{
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.5s all;
    color: #FFC68A;
}
#details-tab .close-details:hover{
    color: #fff;
}
#details-tab .deadline-box{
    background-color: #1D1D1D;
    border-radius: 5px;
    /* border-bottom: 2px solid #FFC68A; */
    /* overflow-x: hidden; */
}
#details-tab #deadline-date{
    border: 0;
    background-color: #000 ;
    color: white;
    border-bottom: 1px solid #FFC68A;
    width: 48%;
    border-radius: 5px;
    font-family: 'Montserrat-Light';
}
/* #details-tab #deadline-date::placeholder{
    font-family: 'Montserrat-Light';
} */

#details-tab #deadline-time{
    border: 0;
    background-color: #000 ;
    color: white;
    border-bottom: 1px solid #FFC68A;
    width: 48%;
    border-radius: 5px;
    font-family: 'Montserrat-Light';
}
/* #details-tab #deadline-time::placeholder{
    font-family: 'Montserrat-Light';
} */
#details-tab .subTask-box{
    background-color: #1D1D1D;
    border-radius: 5px;
}
#details-tab .subTask-box #sub-task-title{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat-Light';
    color: #FFC68A;
    border-bottom: 1px solid #fff;
    padding: 0;
    width: 70%;
}
#details-tab .subTask-box .submit-sub{
    width: 25%;
    background-color: #FFC68A;
    border: 0;
    color: #000;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
    border: 1px solid #FFC68A;
}
#details-tab .subTask-box .submit-sub:hover{
    background-color: #000;
    color: #FFC68A;
}
#details-tab #sub-tasks{
    background-color: #000;
    border: 0;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 5px;
    max-height: 175px;
}
#details-tab .priority-box{
    background-color: #1D1D1D;
    border-radius: 5px;
}
#details-tab .priority-box #prior{
    width: 100%;
    background-color: #000 ;
    border: 0;
    border-bottom: 2px solid #FFC68A;
    color: #FFC68A;
    border-radius: 5px;
}
#details-tab #details{
    background-color: #FFC68A;
    border: 0;
    padding: 5px;
}

/* #details-tab h5{
    font-family: 'Montserrat-Bold';
} */
#details-tab #details{
    height: 20%;
    height: 200px;
}


